header {
    display: flex;
    border-bottom: 3px solid #2d2d44;
    min-width: 100%;
    padding: 25px 25px;
    align-items: center;
    /* box-shadow: 0px 1px 10px 0px rgba(200, 161, 62, .8); */
    position: absolute;
    top: 0;
    justify-content: space-between;
}

.slogan {
    line-height: 25px;
}

.slogan h3 {
    color: #c8a13e;
    letter-spacing: 1px;
    display: flex;
    margin: 0;
}

.slogan p {
    margin: 0;
    font-size: 14px;
    letter-spacing: 1px;
}


.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 75px;
    background-color: #2d2d44;
    border-radius: 50%;
    cursor: pointer;
}

.burgerIcon {
    width: 35px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.burgerIcon span{
    display: block;
    height: 2px;
    background-color: #f8f8f8;
    border-radius: 2px;
    transition: all 0.3s ease;
}